<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- JSDelivr -->
    <link href='https://cdn.jsdelivr.net/npm/css.gg/icons/all.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">

    <title>Emporium</title>

</head>

<body>
    <!-- Header start -->
    <header id="main-header">
        <div class="container-fluid">
            <div class="headersec_1">
                <div class="d-flex align-items-center gap-lg-5 child_flex">
                    <div class="logo">
                        <img src="img/logo.png" class="img-fluid" alt="">
                    </div>
                    <div class="search_form">
                        <form action="#">
                            <select class="select-search-category ft-10" name="term">
                                <optgroup class="ft-14 m-0 p-0"  label="All categories"> 
                                <option value="accessories">Accessories</option>
                                <option value="backup-charger"> &nbsp;&nbsp;Backup Charger</option>
                                <option value="headphone"> &nbsp;&nbsp;Headphone</option>
                                <option value="power-socket"> &nbsp;&nbsp;Power Socket</option>
                                <option value="printer"> &nbsp;&nbsp;Printer</option>
                                <option value="usb"> &nbsp;&nbsp;USB</option>
                                <option value="webcam"> &nbsp;&nbsp;Webcam</option>
                                <option value="wi-fi-router"> &nbsp;&nbsp;Wi-Fi Router</option> 
                            </optgroup>
                            </select>
                            <span class="mx-4 ft-24 text-light-grey ft-100">|</span>
                            <div class="search-content w-100 d-flex">
                                <input type="text" value="" name="s" class="w-100 ft-13" placeholder="I'm searching for..." autocomplete="off">
                                <button type="submit" title="Search" value="Search"><i data-feather="search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="right-header">
                        <div class="d-flex justify-content-between pe-4">
                            <a href="#">Sign in</a>
                            <a href="#">My Orders</a>
                            <a href="" class="d-flex align-items-center gap-1 cart_icon">
                                <span>Cart</span>
                                <div class="position-relative">
                                    <span class="add_product_count">12</span>
                                    <i data-feather="shopping-cart"></i>
                                </div>
                            </a>
                            <a href="#" class="wishlist_header">
                                <div class=" position-relative">
                                    <span>5</span>
                                    <i class="fas fa-heart"></i>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="seperator_blue" />

        <div class="container-fluid">
            <div class="headersec_2">
                <div class="d-flex align-items-center">
                    <div class="nav_icon d-none d-lg-block">
                        <div class="d-flex align-items-center cusror-pointers text-white">
                            <i data-feather="menu"></i>
                            <span>ALL</span>
                        </div>
                    </div>
                    <div class="emp-menu mx-lg-auto">
                        <nav class="navbar navbar-expand-lg">
                            <div class="container-fluid">
                                <button class="navbar-toggler text-white d-flex align-items-center p-0 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                    <i data-feather="menu"></i>  <span class="ft-16 ms-2">ALL</span>
                              </button>
                                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                    <div class="navbar-nav">
                                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                                        <a class="nav-link" href="#">Electronics</a>
                                        <a class="nav-link" href="#">Fashion</a>
                                        <a class="nav-link" href="#">Today’s Deals</a>
                                        <a class="nav-link" href="#">Suggested for you</a>
                                        <a class="nav-link" href="#">Trending</a>
                                        <a class="nav-link" href="#">Saved</a>
                                        <a class="nav-link" href="#">Wishlisted</a>
                                        <a class="nav-link" href="#">current Auctions</a>
                                        <a class="nav-link" href="#">Sell on Emporium</a>
                                        <a class="nav-link" href="#">Best Seller</a>
                                        <a class="nav-link" href="#">Subscribe & Save</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>


                </div>

            </div>


        </div>
    </header>

    <!-- Header End -->


    <!-- content area start -->
    <div class="h-50px "></div>

    <div class="container">
        <div class="row">
            <div class="col-11 col-lg-10 shadow text-black p-5 mx-auto">
                <h1 class="ft-20 lh-30 text-center mb-5 ft-bold">Privacy Cookies & data handling Policy</h1>

                <div class="privacy_text">
                    <p class="mb-0"><strong>1. Definitions and Interpretation</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 In these Terms, unless the context otherwise requires, the following expressions have the following meanings:<br />
                        <br /> &ldquo;Account&rdquo;
                        <br /> means an account that may be required for a User to access and/or use certain areas of Our Site;<br /> &ldquo;Content&rdquo;
                        <br /> means any and all text, images, audio, video, scripts, code, software, databases and any other form of information capable of being stored on a computer that appears on, or forms part of, Our Site;<br /> Users
                        <br /> means users of Our Site;<br /> &ldquo;We/Us/Our&rdquo;
                        <br /> LEDB Ltd.<br />
                        <br />
                        <strong>2. Information About Us</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 This Website is operated by LEDB Ltd., a company registered in England &amp; Wales under number 12878603 and whose registered office is at 42 Pear
                        Tree Avenue, Flat 1, Long Ashton, Bristol, England, BS41 9FF, United Kingdom &ldquo;the Company&rdquo;).<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 We are an online portal (Emporium Marketplace), to bring together Buyers and Sellers
                        of various Products and Services.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3 Our ICO Registration Number is: [ Number in here ]<br />
                        <br />
                        <strong>3. Access to Our Site &amp; Account Registration</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 Access to Our Site is free of charge.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 It is your responsibility to make any and all
                        arrangements necessary in order to access Our Site.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3 Access to Our Site is provided &ldquo;as is&rdquo; and on an &ldquo;as available&rdquo; basis. We may alter, suspend or discontinue Our
                        Site (or any part of it) at any time and without notice. We will not be liable to you in any way if Our Site (or any part of it) is unavailable at any time and for any period.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4 Users will
                        be able to access the majority of this Website without having to register any details with us. However, particular areas of this Website will only be accessible if you have registered, including the ability to use our services.<br
                        /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5 Advertising &amp; Fees &ndash; Prior to acceptance of any advertising for properties, we require sight of official documentation proving that you are the owner of the property and have the right
                        to offer short term accommodation and/or holiday lets. You should refer to our acceptable documents list for further information. We regret that without this evidence being in place, we will be unable to accept your advertisement
                        or feature listing.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.6 You are solely responsible for all information that you submit to Us and any consequences that may result from your post or advert for your accommodation or property.
                        Any and all information in your advertisement/s must meet the required UK legal standards for any advertising featured or the details therein. We reserve the right to refuse any advertising, or moderate/ amend any advertising that
                        breaches the required standards.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.7 We also reserve the right to restrict your account and advertising on our site either temporarily or permanently, if you continue to breach the required standards
                        regarding advertising law. This could have the subsequent result that you shall forfeit any monies paid for any current or future advertising, which you acknowledge and understand and agree to.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.8
                        Other than any specified free trial period, UK Shortlets.com fees are those as specified under the &ldquo;Ad Costs&rdquo; and &ldquo;Buy&rdquo; tools header. Payment is currently made using Paypal only. We do not become involved
                        with, not have access to or store any of your financial information during the purchase process, so as to further protect your privacy. We regret that at this time, if you do not have a Paypal account we cannot post your advertisement.
                        Please note that you will be subject to Paypal&rsquo;s Privacy Policy &amp; Terms of Use during your transaction and it is recommended that you refer to them to ensure you agree with them.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.9
                        Since all advertising is considered a bespoke purchase under law, all advertising fees are due in advance of being featured on Our Site, and as such are exempt from any refunds or replacements, once they have been booked and authorised.
                        Only if the advertisement contains errors caused by our negligence shall they be replaced, extended or refunded. If the advert is cancelled or you end your membership with Us, then any pre-paid advertising will be refunded after
                        the date of your cancellation or termination.<br />
                        <br />
                        <strong>4. Intellectual Property Rights</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 With the exception of User Content, all Content included on Our Site and the copyright and other intellectual property rights subsisting in
                        that Content, unless specifically labelled otherwise, belongs to or has been licensed by Us. All Content (including User Content) is protected by applicable United Kingdom and international intellectual property laws and treaties.<br
                        /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 You may not reproduce, copy, distribute, sell, rent, sub-licence, store, or in any other manner re-use Content from Our Site unless given express written permission to do so by Us.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3
                        You may:
                        <div class="ps-5 ms-4">3.a.1 Access, view and use Our Site in a web browser (including any web browsing capability built into other types of software or app);<br /> 3.a.2 Download Our Site (or any part of it) for caching;<br /> 3.a.3 Print one copy of
                            any page(s) from Our Site;<br /> 3.a.4 Download extracts from pages on Our Site; and<br /> 3.a.5 Save pages from Our Site for later and/or offline viewing.</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4 Our status as the owner and
                        author of the Content on Our Site (or that of identified licensors, as appropriate) must always be acknowledged.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5 You may not re-use any Content printed, saved or downloaded from Our Site
                        for commercial purposes without first obtaining a licence from Us (or our licensors, as appropriate) to do so. This does not prohibit the normal access, viewing and use of Our Site whether by business users or consumers.<br />
                        <br />
                        <strong>5. Links to Our Site</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 You may link to Our Site provided that:<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.1 you do so in a fair and legal manner;<br
                        /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.2 you do not do so in a manner that suggests any form of association, endorsement or approval on Our part where none exists;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.3
                        you do not use any logos or trade marks displayed on Our Site without Our express written permission; and<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.4 you do not do so in a way that is calculated to damage
                        Our reputation or to take unfair advantage of it.<br /> 0.2 You may not link to any page other than the homepage of Our Site. Deep linking to other pages requires Our express written permission.<br /> 0.3 Framing or embedding of
                        Our Site on other websites is not permitted without Our express written permission<br /> 0.4 You may not link to Our Site from any other site the main content of which contains material that:<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.5
                        is sexually explicit; is obscene, deliberately offensive, hateful or otherwise inflammatory; promotes violence; promotes or assists in any form of unlawful activity; discriminates against, or is in any way defamatory of, any person,
                        group or class of persons, race, gender, religion, nationality, disability, sexual orientation, or age; is sexist, blasphemous to religion, is intended or is otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset,
                        or embarrass another person; is calculated or is otherwise likely to deceive another person; is intended or is otherwise likely to infringe (or to threaten to infringe) another person&rsquo;s privacy;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.6
                        misleadingly impersonates any person or otherwise misrepresents the identity or affiliation of a particular person in a way that is calculated to deceive;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.7
                        implies any form of affiliation with Us where none exists;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.8 infringes, or assists in the infringement of, the intellectual property rights (including, but not
                        limited to, copyright, trademarks and database rights) of any other party; or<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.9 is made in breach of any legal duty owed to a third party including, but not
                        limited to, contractual duties and duties of confidence.<br />
                        <br />
                        <strong>6. Links to Other Sites</strong><br /> 6.1 Links to other sites may be included on Our Site. Unless expressly stated, these sites are not under Our control. We neither assume nor accept any responsibility or liability for
                        the content of third-party sites. The inclusion of a link to another site on Our Site is for information only and does not imply any endorsement of the sites themselves or of those in control of them. You should check the Terms
                        of Use and Privacy/ Cookies Policy of any third-party sites we link to as they may not be the same as ours.<br />
                        <br />
                        <strong>7. Liability and Disclaimers</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 Nothing on Our Site constitutes actual advice on which you should rely. It is provided for information purposes only. If you are unsure whether
                        our Services meet your needs, professional or specialist advice should always be sought before taking any action on the basis of any information provided on Our Site.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 We act only as a Conduit
                        platform bringing together the Advertisers and searchers. We are not contractually bound or connected if you rent, lease or hire any accommodation from an Advertiser. Nor for any arrangements or requirements or disputes or incidents,
                        between the Advertiser, Property owner or Customer/ Hirer. You hereby agree not to hold us responsible for anything that individual Users of our site post, advertise or do.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3 Although we have
                        no obligation to monitor the information posted on our site, we do encourage any possible infringements, causes for concern or complaints/ corrections to be reported to us via our Contact Us page, so we can take appropriate action
                        where necessary.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4 We have not personally vetted the facilities or premises advertised. Whilst we require proof of ownership of the property and the right to rent it from Advertisers, we cannot
                        vouch that such property is exactly suited to a Customer&rsquo;s needs. We recommend that all Advertisers and Customers put in place and conduct their own due diligence and safety/ comfort checks to ensure they are happy with any
                        arrangement between them. You should exercise the same due caution that you would in any circumstance or renting or hiring a property/ accommodation.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5 Insofar as is permitted by law, We make
                        no representation, warranty, or guarantee that Our Site will meet your requirements, that it will not infringe the rights of third parties, that it will be compatible with all software and hardware, or that it will be secure.<br
                        /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.6 We make reasonable efforts to ensure that the Content on Our Site is complete, accurate, and up to date. We do not, however, make any representations, warranties or guarantees (whether express
                        or implied) that the Content is complete, accurate, or up to date. Please note that this exception does not apply to information concerning services for sale through Our Site. Please refer to Our Terms and Conditions of Sale for
                        more information.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.7 To the fullest extent permissible by law, We accept no liability to any User for any loss or damage, whether foreseeable or otherwise, in contract, tort (including negligence),
                        for breach of statutory duty, or otherwise, arising out of or in connection with the use of (or inability to use) Our Site or the use of or reliance upon any Content (including User Content) included on Our Site.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.8
                        If you are a business user, we hereby exclude all implied conditions, warranties, representations or other terms that may apply to Our Site or Content. We will not be liable for any loss of profits, sales, business or revenue;
                        loss of business opportunity, goodwill or reputation; loss of anticipated savings; business interruption; or for any indirect or consequential loss or damage.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.9 If you are a Consumer user,
                        please note that Our Site is mostly intended for business use. If you have an enquiry as an individual Consumer then you should contact us directly with any request/s.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.10 We neither assume
                        nor accept responsibility or liability arising out of any disruption or non-availability of Our Site resulting from external causes beyond our reasonable control including, but not limited to, ISP equipment failure, host equipment
                        failure, communications network failure, natural events, strikes, acts of war, government legislation, pandemic or lockdown restrictions or other Force Majeure legal restrictions. In line with the foregoing, in the event of Us
                        not being able to fulfil any pre-paid advertisement period, Advertisers agree that a full refund of the remaining Advertising period by Us, shall act as full and final settlement sum in respect of any unused period so affected.<br
                        /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.11 Nothing in these Terms excludes or restricts Our liability for fraud or fraudulent misrepresentation, for death or personal injury resulting from negligence, or for any other forms of liability
                        which cannot be excluded or restricted by law.<br />
                        <br />
                        <strong>8. Viruses, Malware and Security</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 We exercise all reasonable skill and care to ensure that Our Site is secure and free from viruses and other malware.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2
                        You are responsible for protecting your hardware, software, data and other material from viruses, malware, and other internet security risks.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3 You must not deliberately introduce viruses or
                        other malware, or any other material which is malicious or technologically harmful either to or via Our Site.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4 You must not attempt to gain unauthorised access to any part of Our Site, the
                        server on which Our Site is stored, or any other server, computer, or database connected to Our Site.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5 You must not attack Our Site by means of a denial-of-service attack, a distributed denial
                        of service attack, or by any other means.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.6 By breaching the provisions of these clauses, you may be committing a criminal offence under the Computer Misuse Act 1990. Any and all such breaches
                        will be reported to the relevant law enforcement authorities and We will cooperate fully with those authorities by disclosing your identity to them. Your right to use Our Site will cease immediately in the event of such a breach.<br
                        />
                        <br />
                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. Acceptable Usage Policy</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 You may only use Our Site in a manner that is lawful and that complies with the provisions of this Clause 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.
                        Specifically:
                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.1 you must ensure that you comply fully with any and all local, national or international laws and/or regulations;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.2
                        you must not use Our Site in any way, or for any purpose, that is unlawful or fraudulent;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.3 you must not use Our Site to knowingly send, upload, or in any other
                        way transmit data that contains any form of virus or other malware, or any other code designed to adversely affect computer hardware, software, or data of any kind; and<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.a.4
                        you must not use Our Site in any way, or for any purpose, that is intended to harm any person or persons in any way.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 When submitting User Content (or communicating in any other way using
                        Our Site), you must not submit, communicate or otherwise do anything that:<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.1.1 is sexually explicit; is obscene, deliberately offensive, hateful or otherwise inflammatory; promotes violence;
                        promotes or assists in any form of unlawful activity; discriminates against, or is in any way defamatory of, any person, group or class of persons, race, gender, religion, nationality, disability, sexual orientation, or age; is
                        blasphemous to religion, is intended or is otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person; is calculated or is otherwise likely to deceive another person; is intended or is
                        otherwise likely to infringe (or to threaten to infringe) another person&rsquo;s privacy;
                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.1.2 misleadingly impersonates any person or otherwise misrepresents the identity or affiliation of a particular person in a way that is calculated to deceive;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.1.3
                        implies any form of affiliation with Us where none exists;
                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.1.4 infringes, or assists in the infringement of, the intellectual property rights (including, but not limited to, copyright, trademarks and database rights) of any other party; or<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.1.5
                        is made in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3 We reserve the right to suspend or terminate your access
                        to Our Site if you materially breach the provisions of this these Terms. Specifically, We may take one or more of the following actions:<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3.1
                        suspend, whether temporarily or permanently, any Account you may have and/or your right to access Our Site;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3.2 remove any User Content
                        submitted by you that violates this Acceptable Usage Policy;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3.3 issue you with a written warning;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3.4
                        take legal proceedings against you for reimbursement of any and all relevant costs on an indemnity basis resulting from your breach;
                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3.5 take further legal action against you as appropriate;<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3.6
                        disclose such information to law enforcement authorities as required or as We deem reasonably necessary; and/or any other actions which We deem reasonably appropriate (and lawful).<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.3.7
                        We hereby exclude any and all liability arising out of any actions (including those set out above) that We may take in response to breaches of these Terms.<br />
                        <br />
                        <strong>10. Privacy and Cookies</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.1 Use of Our Site is also governed by Our Cookie Policy and our Privacy Policy, available from the footer of our Homepage. These policies are incorporated
                        into these Terms by this reference.
                        <br />
                        <br />
                        <strong>11. Changes to these Terms</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11.1 We may alter these Terms at any time. Any such changes will become binding on you upon your first use of Our Site after any of the changes have
                        been implemented. You are therefore advised to check this page from time to time.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11.2 In the event of any conflict between the current version of these Terms of Use and any previous version(s),
                        the provisions current and in effect shall prevail unless it is expressly stated otherwise.<br />
                        <br />
                        <strong>12. Contacting Us</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.1 To contact Us, please email Us or by using any of the methods which are provided on Our Contact Us page.<br />
                        <br />
                        <strong>13. Communications from Us</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.1 If We have your contact details (if, for example, you have an Account) We may from time to time send you important notices by email. Such notices
                        may relate to matters including, but not limited to, service changes, changes to these Terms, Our conditions of sale, and any changes to your Account.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.2 We will never send you marketing emails
                        of any kind without your express consent. If you do give such consent, you may opt out at any time. Any and all marketing emails sent by Us include an unsubscribe link. If you opt out of receiving emails from us at any time, it
                        may take up to 7 business days for Us to comply with your request. During that time, you may continue to receive emails from Us.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13.3 For questions or complaints about communications from Us
                        (including, but not limited to marketing emails), please contact Us by email shown in 12 above or using our Contact Us page.<br />
                        <br />
                        <strong>14. Data Protection</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14.1 These clauses outline our compliance with UKGDPR and The Data Protection Act.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14.2 All personal information that
                        We may use will be collected, processed, and held in accordance with the provisions of EU Regulation 2016/679 General Data Protection Regulation (&ldquo;GDPR&rdquo;) and the UKGDPR and your rights under them depending on your location.<br
                        /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14.3 For complete details of Our collection, processing, storage, and retention of personal data including, but not limited to, the purpose(s) for which personal data is used, the legal basis or
                        bases for using it, details of your rights and how to exercise them, and personal data sharing (where applicable), please refer to Our Privacy and Cookie Policy available at the footer of our Homepage.<br />
                        <br />
                        <strong>15. Law and Jurisdiction</strong><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.1 These Terms and the relationship between you and Us (whether contractual or otherwise) shall only be governed by and construed in full accordance
                        with the Laws of England &amp; Wales.
                        <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.2 If you are a business, any disputes concerning these Terms, the relationship between you and Us, or any matters arising therefrom or associated therewith (whether contractual or otherwise)
                        shall be subject to the exclusive jurisdiction of the courts of England.<br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.3 If you are a Consumer, any disputes concerning these Terms, the relationship between you and Us, or any matters arising
                        therefrom or associated therewith (whether contractual or otherwise) shall be subject to the exclusive jurisdiction of the courts of England.</p>

                </div>


            </div>

        </div>
    </div>



    <div class="h-50px "></div>

    <!-- content area End -->



    <footer style="background: #F8F8F8;height: 440px;" class="d-flex justify-content-center align-items-center">
        <span class="ft-35 ft-medium">Footer</span>
    </footer>



    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/custom.js" type="text/JavaScript"></script>
</body>

</html>